.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.site-navigation-wrap {
  float: right;
  position: relative;
  right: -110px;
  right: -110px;
  line-height: 95px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.3px;
}

.menu-text-pointer {
  cursor: pointer;
}

.b-ajuste {
  font-weight: 600;
}

.h3-ajuste-title {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #333;
}

.ajuste-elementor-widget-container {
  padding: 10px 20px 72px 20px;
}

.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

b,
strong {
  font-weight: bolder;
}

::before,
::after {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

h2,
.h2 {
  font-size: 20px;
}

.ajuste-h2 {
  font-weight: 600;
  margin: 0 0 20px;
  color: #333;
  line-height: 1.4;
}

.font-menu {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.3px;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 2rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.site-footer {
  background-color: black;
}

.elementor-section {
  position: relative;
}

.container-ajustable-padding-1 {
  padding: 10px 20px 121px 20px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 10px 29px 0px rgb(0 0 0 / 15%);
}

.container-ajustable-padding-2 {
  padding: 10px 20px 72px 20px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 10px 29px 0px rgb(0 0 0 / 15%);
}

.container-ajustable-padding-3 {
  padding: 10px 20px 96px 20px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 10px 29px 0px rgb(0 0 0 / 15%);
}

.container-ajustable-padding-5 {
  padding: 10px 20px 110px 20px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 10px 29px 0px rgb(0 0 0 / 15%);
}

#scroll-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  z-index: 100;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  ::after #scroll-top {
    display: block;
  }
}

.invalid-form-field {
  border: 2px solid rgba(255, 0, 0, 0.534);
}
