.elementor-16 .elementor-element.elementor-element-2879617 > .elementor-container {
    min-height: 586px;
}
.elementor-16 .elementor-element.elementor-element-2879617 > .elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-16 .elementor-element.elementor-element-2879617 > .elementor-background-overlay {
    background-color: #434084de;
    opacity: 1;
    mix-blend-mode: darken;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-2879617 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-16 .elementor-element.elementor-element-685dc49e {
    text-align: left;
}
.elementor-16 .elementor-element.elementor-element-685dc49e .elementor-heading-title {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: -1.3px;
}
.elementor-16 .elementor-element.elementor-element-685dc49e > .elementor-widget-container {
    margin: 3px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-group {
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
    margin-bottom: 20px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-form-fields-wrapper {
    margin-left: calc(-20px / 2);
    margin-right: calc(-20px / 2);
    margin-bottom: -20px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}
body.rtl
    .elementor-16
    .elementor-element.elementor-element-87fdd64
    .elementor-labels-inline
    .elementor-field-group
    > label {
    padding-left: 0px;
}
body:not(.rtl)
    .elementor-16
    .elementor-element.elementor-element-87fdd64
    .elementor-labels-inline
    .elementor-field-group
    > label {
    padding-right: 0px;
}
body .elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-type-html {
    padding-bottom: 0px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-group .elementor-field {
    color: #000000;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-group .elementor-field,
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-subgroup label {
    font-family: "Catamaran", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.elementor-16
    .elementor-element.elementor-element-87fdd64
    .elementor-field-group:not(.elementor-field-type-upload)
    .elementor-field:not(.elementor-select-wrapper) {
    background-color: rgba(255, 255, 255, 0.85);
    border-width: 0px 0px 0px 0px;
    border-radius: 4px 4px 4px 4px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-group .elementor-select-wrapper select {
    background-color: rgba(255, 255, 255, 0.85);
    border-width: 0px 0px 0px 0px;
    border-radius: 4px 4px 4px 4px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-button {
    font-family: "Catamaran", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .e-form__buttons__wrapper__button-next {
    background-color: #ccb5ea00;
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-button[type="submit"] {
    background-color: #ccb5ea00;
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .e-form__buttons__wrapper__button-next:hover {
    background-color: #7e5a9c;
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-button[type="submit"]:hover {
    background-color: #7e5a9c;
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}
.elementor-16 .elementor-element.elementor-element-87fdd64 > .elementor-widget-container {
    margin: 7px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-31a9785:not(.elementor-motion-effects-element-type-background),
.elementor-16
    .elementor-element.elementor-element-31a9785
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #f8f8f8;
}
.elementor-16 .elementor-element.elementor-element-31a9785 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-31a9785 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-f7ecffe {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-f7ecffe .elementor-heading-title {
    color: #414141;
    font-family: "Montserrat", Sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: -1.3px;
}
.elementor-16 .elementor-element.elementor-element-f7ecffe > .elementor-widget-container {
    margin: 3px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-15f635e .elementor-text-editor {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-15f635e {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-4126f1ee > .elementor-container {
    max-width: 1140px;
}
.elementor-16 .elementor-element.elementor-element-4126f1ee:not(.elementor-motion-effects-element-type-background),
.elementor-16
    .elementor-element.elementor-element-4126f1ee
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #f8f8f8;
}
.elementor-16 .elementor-element.elementor-element-4126f1ee {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 50px 0px;
}
.elementor-16 .elementor-element.elementor-element-4126f1ee > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-view-stacked .elementor-icon {
    background-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-view-default .elementor-icon {
    fill: #8081bb;
    color: #8081bb;
    border-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    fill: #8081bb;
    color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-view-framed .elementor-icon:hover,
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-view-default .elementor-icon:hover {
    fill: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-view-framed .elementor-icon:hover {
    background-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-position-right .elementor-icon-box-icon {
    margin-left: 45px;
}
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-position-left .elementor-icon-box-icon {
    margin-right: 45px;
}
.elementor-16 .elementor-element.elementor-element-55e78287.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 45px;
}
.elementor-16 .elementor-element.elementor-element-55e78287 .elementor-icon {
    font-size: 33px;
    padding: 1em;
}
.elementor-16 .elementor-element.elementor-element-55e78287 .elementor-icon i {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-55e78287 .elementor-icon-box-content .elementor-icon-box-title {
    color: #4c4c4c;
}
.elementor-16 .elementor-element.elementor-element-55e78287 .elementor-icon-box-content .elementor-icon-box-title,
.elementor-16 .elementor-element.elementor-element-55e78287 .elementor-icon-box-content .elementor-icon-box-title a {
    font-size: 21px;
    text-transform: uppercase;
}
.elementor-16
    .elementor-element.elementor-element-55e78287
    .elementor-icon-box-content
    .elementor-icon-box-description {
    color: #4c4c4c;
    font-size: 17px;
    font-weight: 300;
}
.elementor-16 .elementor-element.elementor-element-1446d811 .elementor-spacer-inner {
    height: 20px;
}
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-view-stacked .elementor-icon {
    background-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-view-default .elementor-icon {
    fill: #8081bb;
    color: #8081bb;
    border-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    fill: #4054b2;
    color: #4054b2;
}
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-view-framed .elementor-icon:hover,
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-view-default .elementor-icon:hover {
    fill: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-view-framed .elementor-icon:hover {
    background-color: #4054b2;
}
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-position-right .elementor-icon-box-icon {
    margin-left: 45px;
}
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-position-left .elementor-icon-box-icon {
    margin-right: 45px;
}
.elementor-16 .elementor-element.elementor-element-433145d6.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 45px;
}
.elementor-16 .elementor-element.elementor-element-433145d6 .elementor-icon {
    font-size: 33px;
    padding: 1em;
}
.elementor-16 .elementor-element.elementor-element-433145d6 .elementor-icon i {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-433145d6 .elementor-icon-box-content .elementor-icon-box-title {
    color: #4c4c4c;
}
.elementor-16 .elementor-element.elementor-element-433145d6 .elementor-icon-box-content .elementor-icon-box-title,
.elementor-16 .elementor-element.elementor-element-433145d6 .elementor-icon-box-content .elementor-icon-box-title a {
    font-size: 21px;
    text-transform: uppercase;
}
.elementor-16
    .elementor-element.elementor-element-433145d6
    .elementor-icon-box-content
    .elementor-icon-box-description {
    color: #4c4c4c;
    font-size: 17px;
    font-weight: 300;
}
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-view-stacked .elementor-icon {
    background-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-view-default .elementor-icon {
    fill: #8081bb;
    color: #8081bb;
    border-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    fill: #8081bb;
    color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-view-framed .elementor-icon:hover,
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-view-default .elementor-icon:hover {
    fill: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-view-framed .elementor-icon:hover {
    background-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-position-right .elementor-icon-box-icon {
    margin-left: 45px;
}
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-position-left .elementor-icon-box-icon {
    margin-right: 45px;
}
.elementor-16 .elementor-element.elementor-element-5205c96e.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 45px;
}
.elementor-16 .elementor-element.elementor-element-5205c96e .elementor-icon {
    font-size: 33px;
    padding: 1em;
}
.elementor-16 .elementor-element.elementor-element-5205c96e .elementor-icon i {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-5205c96e .elementor-icon-box-content .elementor-icon-box-title {
    color: #4c4c4c;
}
.elementor-16 .elementor-element.elementor-element-5205c96e .elementor-icon-box-content .elementor-icon-box-title,
.elementor-16 .elementor-element.elementor-element-5205c96e .elementor-icon-box-content .elementor-icon-box-title a {
    font-size: 21px;
    text-transform: uppercase;
}
.elementor-16
    .elementor-element.elementor-element-5205c96e
    .elementor-icon-box-content
    .elementor-icon-box-description {
    color: #4c4c4c;
    font-size: 17px;
    font-weight: 300;
}
.elementor-16 .elementor-element.elementor-element-087612d .elementor-spacer-inner {
    height: 20px;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-view-stacked .elementor-icon {
    background-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-view-default .elementor-icon {
    fill: #8081bb;
    color: #8081bb;
    border-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    fill: #8081bb;
    color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-view-framed .elementor-icon:hover,
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-view-default .elementor-icon:hover {
    fill: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-view-framed .elementor-icon:hover {
    background-color: #8081bb;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-position-right .elementor-icon-box-icon {
    margin-left: 45px;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-position-left .elementor-icon-box-icon {
    margin-right: 45px;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 45px;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310 .elementor-icon {
    font-size: 33px;
    padding: 1em;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310 .elementor-icon i {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-5f3f3310 .elementor-icon-box-content .elementor-icon-box-title {
    color: #4c4c4c;
}
.elementor-16 .elementor-element.elementor-element-5f3f3310 .elementor-icon-box-content .elementor-icon-box-title,
.elementor-16 .elementor-element.elementor-element-5f3f3310 .elementor-icon-box-content .elementor-icon-box-title a {
    font-size: 21px;
    text-transform: uppercase;
}
.elementor-16
    .elementor-element.elementor-element-5f3f3310
    .elementor-icon-box-content
    .elementor-icon-box-description {
    color: #4c4c4c;
    font-size: 17px;
    font-weight: 300;
}
.elementor-16 .elementor-element.elementor-element-463b8e6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-463b8e6 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-ea97e28 {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-ea97e28 .elementor-heading-title {
    color: #414141;
    font-family: "Montserrat", Sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: -1.3px;
}
.elementor-16 .elementor-element.elementor-element-ea97e28 > .elementor-widget-container {
    margin: 3px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-90a19d8 .elementor-text-editor {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-90a19d8 {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-90a19d8 > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 22px 0px;
}
.elementor-16 .elementor-element.elementor-element-3ce2d8b > .elementor-container {
    max-width: 1100px;
}
.elementor-16 .elementor-element.elementor-element-4243a730 .elementor-heading-title {
    color: #ffffff;
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.elementor-16 .elementor-element.elementor-element-4243a730 > .elementor-widget-container {
    padding: 10px 50px 10px 50px;
    background-color: #7a7bb8;
    border-radius: 0px 30px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-4243a730 {
    width: auto;
    max-width: auto;
}
.elementor-16 .elementor-element.elementor-element-4e1f1e6 {
    color: #383838;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-4e1f1e6 > .elementor-widget-container {
    padding: 10px 20px 93px 20px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
.elementor-16 .elementor-element.elementor-element-606cffc .elementor-heading-title {
    color: #ffffff;
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.elementor-16 .elementor-element.elementor-element-606cffc > .elementor-widget-container {
    padding: 10px 50px 10px 50px;
    background-color: #7a7bb8;
    border-radius: 0px 30px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-606cffc {
    width: auto;
    max-width: auto;
}
.elementor-16 .elementor-element.elementor-element-baf2cba {
    color: #383838;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-baf2cba > .elementor-widget-container {
    padding: 10px 20px 10px 20px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
.elementor-16 .elementor-element.elementor-element-537770a .elementor-heading-title {
    color: #ffffff;
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.elementor-16 .elementor-element.elementor-element-537770a > .elementor-widget-container {
    padding: 10px 50px 10px 50px;
    background-color: #7a7bb8;
    border-radius: 0px 30px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-537770a {
    width: auto;
    max-width: auto;
}
.elementor-16 .elementor-element.elementor-element-17707c8 {
    color: #383838;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-17707c8 > .elementor-widget-container {
    padding: 10px 20px 86px 20px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
.elementor-16 .elementor-element.elementor-element-d21074e > .elementor-container {
    max-width: 1100px;
}
.elementor-16 .elementor-element.elementor-element-d21074e {
    padding: 46px 0px 50px 0px;
}
.elementor-16 .elementor-element.elementor-element-245e35e .elementor-heading-title {
    color: #ffffff;
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.elementor-16 .elementor-element.elementor-element-245e35e > .elementor-widget-container {
    padding: 10px 50px 10px 50px;
    background-color: #7a7bb8;
    border-radius: 0px 30px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-245e35e {
    width: auto;
    max-width: auto;
}
.elementor-16 .elementor-element.elementor-element-d14e6fe .elementor-text-editor {
    text-align: left;
}
.elementor-16 .elementor-element.elementor-element-d14e6fe {
    color: #383838;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-d14e6fe > .elementor-widget-container {
    padding: 10px 20px 93px 20px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
.elementor-16 .elementor-element.elementor-element-e0641c5 .elementor-heading-title {
    color: #ffffff;
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.elementor-16 .elementor-element.elementor-element-e0641c5 > .elementor-widget-container {
    padding: 10px 50px 10px 50px;
    background-color: #7a7bb8;
    border-radius: 0px 30px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-e0641c5 {
    width: auto;
    max-width: auto;
}
.elementor-16 .elementor-element.elementor-element-53b6255 {
    color: #383838;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-53b6255 > .elementor-widget-container {
    padding: 10px 20px 113px 20px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
.elementor-16 .elementor-element.elementor-element-86c5348 .elementor-heading-title {
    color: #ffffff;
    font-family: "Open Sans", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.elementor-16 .elementor-element.elementor-element-86c5348 > .elementor-widget-container {
    padding: 10px 50px 10px 50px;
    background-color: #7a7bb8;
    border-radius: 0px 30px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-86c5348 {
    width: auto;
    max-width: auto;
}
.elementor-16 .elementor-element.elementor-element-7ede6ed {
    color: #383838;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-7ede6ed > .elementor-widget-container {
    padding: 10px 20px 93px 20px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.15);
}
.elementor-16 .elementor-element.elementor-element-5d794743 > .elementor-container {
    max-width: 1200px;
}

.elementor-16 .elementor-element.elementor-element-5d794743 > .elementor-background-overlay {
    background-color: #4a4b8ad1;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-5d794743 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 2%;
    margin-bottom: 0%;
    padding: 44px 0px 78px 0px;
}
.elementor-16 .elementor-element.elementor-element-25cc2288 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-700209fd > .elementor-container {
    max-width: 816px;
}
.elementor-16 .elementor-element.elementor-element-700209fd {
    margin-top: 0px;
    margin-bottom: 0px;
}
.elementor-16 .elementor-element.elementor-element-0f1daf4 {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-0f1daf4 .elementor-heading-title {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: -1.3px;
}
.elementor-16 .elementor-element.elementor-element-0f1daf4 > .elementor-widget-container {
    margin: 3px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-386e0c6 .elementor-text-editor {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-386e0c6 {
    color: #ffffff;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-386e0c6 > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-742abf8f > .elementor-container {
    max-width: 1200px;
}
.elementor-16 .elementor-element.elementor-element-742abf8f {
    margin-top: 37px;
    margin-bottom: 0px;
}
.elementor-16
    .elementor-element.elementor-element-1170e53e:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
.elementor-16
    .elementor-element.elementor-element-1170e53e
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-1170e53e > .elementor-element-populated,
.elementor-16
    .elementor-element.elementor-element-1170e53e
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-16 .elementor-element.elementor-element-1170e53e > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 70px;
}
.elementor-16 .elementor-element.elementor-element-1170e53e > .elementor-element-populated {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    padding: 14% 14% 14% 14%;
}
.elementor-16
    .elementor-element.elementor-element-1170e53e
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-10c9f16 .elementor-icon-wrapper {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-10c9f16.elementor-view-stacked .elementor-icon {
    background-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-10c9f16.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-10c9f16.elementor-view-default .elementor-icon {
    color: #7a7bb8;
    border-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-10c9f16.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-10c9f16.elementor-view-default .elementor-icon svg {
    fill: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-10c9f16 .elementor-icon i,
.elementor-16 .elementor-element.elementor-element-10c9f16 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-7f5ccb1e.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}
.elementor-16 .elementor-element.elementor-element-7f5ccb1e.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}
.elementor-16 .elementor-element.elementor-element-7f5ccb1e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}
.elementor-16 .elementor-element.elementor-element-7f5ccb1e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}
.elementor-16 .elementor-element.elementor-element-7f5ccb1e .elementor-image-box-img img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    opacity: 1;
    transition-duration: 0.6s;
}
.elementor-16 .elementor-element.elementor-element-7f5ccb1e .elementor-image-box-wrapper {
    text-align: left;
}
.elementor-16 .elementor-element.elementor-element-7f5ccb1e .elementor-image-box-title {
    margin-bottom: 11px;
}
.elementor-16 .elementor-element.elementor-element-7f5ccb1e .elementor-image-box-content .elementor-image-box-title {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.elementor-16
    .elementor-element.elementor-element-7f5ccb1e
    .elementor-image-box-content
    .elementor-image-box-description {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
.elementor-16 .elementor-element.elementor-element-5a96cf2b .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}
.elementor-16 .elementor-element.elementor-element-5a96cf2b .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}
.elementor-16 .elementor-element.elementor-element-5a96cf2b .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    fill: #7a7bb8;
    color: #7a7bb8;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 0px 0px 0px;
}
.elementor-16
    .elementor-element.elementor-element-a1343df:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
.elementor-16
    .elementor-element.elementor-element-a1343df
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-a1343df > .elementor-element-populated,
.elementor-16
    .elementor-element.elementor-element-a1343df
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-16 .elementor-element.elementor-element-a1343df > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 70px;
}
.elementor-16 .elementor-element.elementor-element-a1343df > .elementor-element-populated {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    padding: 14% 14% 14% 14%;
}
.elementor-16
    .elementor-element.elementor-element-a1343df
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-d27e0ea .elementor-icon-wrapper {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-d27e0ea.elementor-view-stacked .elementor-icon {
    background-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-d27e0ea.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-d27e0ea.elementor-view-default .elementor-icon {
    color: #7a7bb8;
    border-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-d27e0ea.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-d27e0ea.elementor-view-default .elementor-icon svg {
    fill: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-d27e0ea .elementor-icon i,
.elementor-16 .elementor-element.elementor-element-d27e0ea .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-baa2b19.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}
.elementor-16 .elementor-element.elementor-element-baa2b19.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}
.elementor-16 .elementor-element.elementor-element-baa2b19.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}
.elementor-16 .elementor-element.elementor-element-baa2b19 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}
.elementor-16 .elementor-element.elementor-element-baa2b19 .elementor-image-box-img img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    opacity: 1;
    transition-duration: 0.6s;
}
.elementor-16 .elementor-element.elementor-element-baa2b19 .elementor-image-box-wrapper {
    text-align: left;
}
.elementor-16 .elementor-element.elementor-element-baa2b19 .elementor-image-box-title {
    margin-bottom: 11px;
}
.elementor-16 .elementor-element.elementor-element-baa2b19 .elementor-image-box-content .elementor-image-box-title {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.elementor-16
    .elementor-element.elementor-element-baa2b19
    .elementor-image-box-content
    .elementor-image-box-description {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
.elementor-16 .elementor-element.elementor-element-35d206b .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}
.elementor-16 .elementor-element.elementor-element-35d206b .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}
.elementor-16 .elementor-element.elementor-element-35d206b .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    fill: #7a7bb8;
    color: #7a7bb8;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 0px 0px 0px;
}
.elementor-16
    .elementor-element.elementor-element-c316af6:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
.elementor-16
    .elementor-element.elementor-element-c316af6
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-c316af6 > .elementor-element-populated,
.elementor-16
    .elementor-element.elementor-element-c316af6
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-16 .elementor-element.elementor-element-c316af6 > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 70px;
}
.elementor-16 .elementor-element.elementor-element-c316af6 > .elementor-element-populated {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    padding: 14% 14% 14% 14%;
}
.elementor-16
    .elementor-element.elementor-element-c316af6
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-98b8b09 .elementor-icon-wrapper {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-98b8b09.elementor-view-stacked .elementor-icon {
    background-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-98b8b09.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-98b8b09.elementor-view-default .elementor-icon {
    color: #7a7bb8;
    border-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-98b8b09.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-98b8b09.elementor-view-default .elementor-icon svg {
    fill: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-98b8b09 .elementor-icon i,
.elementor-16 .elementor-element.elementor-element-98b8b09 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-cccbe32.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}
.elementor-16 .elementor-element.elementor-element-cccbe32.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}
.elementor-16 .elementor-element.elementor-element-cccbe32.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}
.elementor-16 .elementor-element.elementor-element-cccbe32 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}
.elementor-16 .elementor-element.elementor-element-cccbe32 .elementor-image-box-img img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    opacity: 1;
    transition-duration: 0.6s;
}
.elementor-16 .elementor-element.elementor-element-cccbe32 .elementor-image-box-wrapper {
    text-align: left;
}
.elementor-16 .elementor-element.elementor-element-cccbe32 .elementor-image-box-title {
    margin-bottom: 11px;
}
.elementor-16 .elementor-element.elementor-element-cccbe32 .elementor-image-box-content .elementor-image-box-title {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.elementor-16
    .elementor-element.elementor-element-cccbe32
    .elementor-image-box-content
    .elementor-image-box-description {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
.elementor-16 .elementor-element.elementor-element-d030e50 .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}
.elementor-16 .elementor-element.elementor-element-d030e50 .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}
.elementor-16 .elementor-element.elementor-element-d030e50 .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    fill: #7a7bb8;
    color: #7a7bb8;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-291333c > .elementor-container {
    max-width: 1200px;
}
.elementor-16 .elementor-element.elementor-element-291333c {
    margin-top: 37px;
    margin-bottom: 0px;
}
.elementor-16 .elementor-element.elementor-element-f3e404e > .elementor-element-populated,
.elementor-16
    .elementor-element.elementor-element-f3e404e
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-16 .elementor-element.elementor-element-f3e404e > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 70px;
}
.elementor-16 .elementor-element.elementor-element-f3e404e > .elementor-element-populated {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    padding: 14% 14% 14% 14%;
}
.elementor-16
    .elementor-element.elementor-element-f3e404e
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16
    .elementor-element.elementor-element-94a23db:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
.elementor-16
    .elementor-element.elementor-element-94a23db
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-94a23db > .elementor-element-populated,
.elementor-16
    .elementor-element.elementor-element-94a23db
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-16 .elementor-element.elementor-element-94a23db > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 70px;
}
.elementor-16 .elementor-element.elementor-element-94a23db > .elementor-element-populated {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    padding: 14% 14% 14% 14%;
}
.elementor-16
    .elementor-element.elementor-element-94a23db
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-83a2e3f .elementor-icon-wrapper {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-83a2e3f.elementor-view-stacked .elementor-icon {
    background-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-83a2e3f.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-83a2e3f.elementor-view-default .elementor-icon {
    color: #7a7bb8;
    border-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-83a2e3f.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-83a2e3f.elementor-view-default .elementor-icon svg {
    fill: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-83a2e3f .elementor-icon i,
.elementor-16 .elementor-element.elementor-element-83a2e3f .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-40f4dca.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}
.elementor-16 .elementor-element.elementor-element-40f4dca.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}
.elementor-16 .elementor-element.elementor-element-40f4dca.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}
.elementor-16 .elementor-element.elementor-element-40f4dca .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}
.elementor-16 .elementor-element.elementor-element-40f4dca .elementor-image-box-img img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    opacity: 1;
    transition-duration: 0.6s;
}
.elementor-16 .elementor-element.elementor-element-40f4dca .elementor-image-box-wrapper {
    text-align: left;
}
.elementor-16 .elementor-element.elementor-element-40f4dca .elementor-image-box-title {
    margin-bottom: 11px;
}
.elementor-16 .elementor-element.elementor-element-40f4dca .elementor-image-box-content .elementor-image-box-title {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.elementor-16
    .elementor-element.elementor-element-40f4dca
    .elementor-image-box-content
    .elementor-image-box-description {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
.elementor-16 .elementor-element.elementor-element-543f632 .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}
.elementor-16 .elementor-element.elementor-element-543f632 .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}
.elementor-16 .elementor-element.elementor-element-543f632 .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    fill: #7a7bb8;
    color: #7a7bb8;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 0px 0px 0px;
}
.elementor-16
    .elementor-element.elementor-element-7660353:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
.elementor-16
    .elementor-element.elementor-element-7660353
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-7660353 > .elementor-element-populated,
.elementor-16
    .elementor-element.elementor-element-7660353
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-16 .elementor-element.elementor-element-7660353 > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 70px;
}
.elementor-16 .elementor-element.elementor-element-7660353 > .elementor-element-populated {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    padding: 14% 14% 14% 14%;
}
.elementor-16
    .elementor-element.elementor-element-7660353
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-93daacc .elementor-icon-wrapper {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-93daacc.elementor-view-stacked .elementor-icon {
    background-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-93daacc.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-93daacc.elementor-view-default .elementor-icon {
    color: #7a7bb8;
    border-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-93daacc.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-93daacc.elementor-view-default .elementor-icon svg {
    fill: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-93daacc .elementor-icon i,
.elementor-16 .elementor-element.elementor-element-93daacc .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-6f3f851.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}
.elementor-16 .elementor-element.elementor-element-6f3f851.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}
.elementor-16 .elementor-element.elementor-element-6f3f851.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}
.elementor-16 .elementor-element.elementor-element-6f3f851 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}
.elementor-16 .elementor-element.elementor-element-6f3f851 .elementor-image-box-img img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    opacity: 1;
    transition-duration: 0.6s;
}
.elementor-16 .elementor-element.elementor-element-6f3f851 .elementor-image-box-wrapper {
    text-align: left;
}
.elementor-16 .elementor-element.elementor-element-6f3f851 .elementor-image-box-title {
    margin-bottom: 11px;
}
.elementor-16 .elementor-element.elementor-element-6f3f851 .elementor-image-box-content .elementor-image-box-title {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.elementor-16
    .elementor-element.elementor-element-6f3f851
    .elementor-image-box-content
    .elementor-image-box-description {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
.elementor-16 .elementor-element.elementor-element-109393d .elementor-button .elementor-align-icon-right {
    margin-left: 10px;
}
.elementor-16 .elementor-element.elementor-element-109393d .elementor-button .elementor-align-icon-left {
    margin-right: 10px;
}
.elementor-16 .elementor-element.elementor-element-109393d .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    fill: #7a7bb8;
    color: #7a7bb8;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-81ce5cb > .elementor-element-populated,
.elementor-16
    .elementor-element.elementor-element-81ce5cb
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-16 .elementor-element.elementor-element-81ce5cb > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 70px;
}
.elementor-16 .elementor-element.elementor-element-81ce5cb > .elementor-element-populated {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 3% 3% 3% 3%;
    padding: 14% 14% 14% 14%;
}
.elementor-16
    .elementor-element.elementor-element-81ce5cb
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-926d80d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 100px 0px;
}
.elementor-16 .elementor-element.elementor-element-926d80d > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-812549a {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-812549a .elementor-heading-title {
    color: #414141;
    font-family: "Montserrat", Sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: -1.3px;
}
.elementor-16 .elementor-element.elementor-element-812549a > .elementor-widget-container {
    margin: 3px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-14f27a2 .elementor-text-editor {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-14f27a2 {
    color: #383838;
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.elementor-16 .elementor-element.elementor-element-14f27a2 > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 22px 0px;
}
.elementor-16 .elementor-element.elementor-element-559aeec .gallery-item {
    padding: 0 20px 20px 0;
}
.elementor-16 .elementor-element.elementor-element-559aeec .gallery {
    margin: 0 -20px -20px 0;
}
.elementor-16 .elementor-element.elementor-element-559aeec .gallery-item .gallery-caption {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-5eff480 > .elementor-container {
    max-width: 915px;
}
.elementor-16 .elementor-element.elementor-element-5eff480:not(.elementor-motion-effects-element-type-background),
.elementor-16
    .elementor-element.elementor-element-5eff480
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #f8f8f8;
}
.elementor-16 .elementor-element.elementor-element-5eff480 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 50px 0px;
}
.elementor-16 .elementor-element.elementor-element-5eff480 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16 .elementor-element.elementor-element-dcfa28b {
    text-align: center;
}
.elementor-16 .elementor-element.elementor-element-dcfa28b .elementor-heading-title {
    color: #414141;
    font-family: "Montserrat", Sans-serif;
    font-size: 46px;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: -1.3px;
}
.elementor-16 .elementor-element.elementor-element-dcfa28b > .elementor-widget-container {
    margin: 3px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-764ab87.elementor-view-stacked .elementor-icon {
    background-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-764ab87.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-764ab87.elementor-view-default .elementor-icon {
    fill: #7a7bb8;
    color: #7a7bb8;
    border-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-764ab87.elementor-position-right .elementor-icon-box-icon {
    margin-left: 2px;
}
.elementor-16 .elementor-element.elementor-element-764ab87.elementor-position-left .elementor-icon-box-icon {
    margin-right: 2px;
}
.elementor-16 .elementor-element.elementor-element-764ab87.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 2px;
}
.elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon {
    font-size: 38px;
}
.elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon i {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-wrapper {
    text-align: left;
}
.elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-title {
    margin-bottom: 1px;
}
.elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-content .elementor-icon-box-title {
    color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-content .elementor-icon-box-title,
.elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-content .elementor-icon-box-title a {
    font-family: "Open Sans", Sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.elementor-16 .elementor-element.elementor-element-918c009.elementor-view-stacked .elementor-icon {
    background-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-918c009.elementor-view-framed .elementor-icon,
.elementor-16 .elementor-element.elementor-element-918c009.elementor-view-default .elementor-icon {
    fill: #7a7bb8;
    color: #7a7bb8;
    border-color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-918c009.elementor-position-right .elementor-icon-box-icon {
    margin-left: 11px;
}
.elementor-16 .elementor-element.elementor-element-918c009.elementor-position-left .elementor-icon-box-icon {
    margin-right: 11px;
}
.elementor-16 .elementor-element.elementor-element-918c009.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 11px;
}
.elementor-16 .elementor-element.elementor-element-918c009 .elementor-icon {
    font-size: 38px;
}
.elementor-16 .elementor-element.elementor-element-918c009 .elementor-icon i {
    transform: rotate(0deg);
}
.elementor-16 .elementor-element.elementor-element-918c009 .elementor-icon-box-title {
    margin-bottom: 1px;
}
.elementor-16 .elementor-element.elementor-element-918c009 .elementor-icon-box-content .elementor-icon-box-title {
    color: #7a7bb8;
}
.elementor-16 .elementor-element.elementor-element-918c009 .elementor-icon-box-content .elementor-icon-box-title,
.elementor-16 .elementor-element.elementor-element-918c009 .elementor-icon-box-content .elementor-icon-box-title a {
    font-family: "Open Sans", Sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-group {
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2);
    margin-bottom: 20px;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-form-fields-wrapper {
    margin-left: calc(-20px / 2);
    margin-right: calc(-20px / 2);
    margin-bottom: -20px;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}
body.rtl
    .elementor-16
    .elementor-element.elementor-element-37b8d0ca
    .elementor-labels-inline
    .elementor-field-group
    > label {
    padding-left: 0px;
}
body:not(.rtl)
    .elementor-16
    .elementor-element.elementor-element-37b8d0ca
    .elementor-labels-inline
    .elementor-field-group
    > label {
    padding-right: 0px;
}
body
    .elementor-16
    .elementor-element.elementor-element-37b8d0ca
    .elementor-labels-above
    .elementor-field-group
    > label {
    padding-bottom: 0px;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-type-html {
    padding-bottom: 0px;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-group .elementor-field {
    color: #000000;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-group .elementor-field,
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-subgroup label {
    font-family: "Catamaran", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.elementor-16
    .elementor-element.elementor-element-37b8d0ca
    .elementor-field-group:not(.elementor-field-type-upload)
    .elementor-field:not(.elementor-select-wrapper) {
    background-color: rgba(255, 255, 255, 0.85);
    border-color: #cccccc;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-group .elementor-select-wrapper select {
    background-color: rgba(255, 255, 255, 0.85);
    border-color: #cccccc;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-group .elementor-select-wrapper::before {
    color: #cccccc;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-button {
    font-family: "Catamaran", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .e-form__buttons__wrapper__button-next {
    background-color: #7e5a9c;
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-button[type="submit"] {
    background-color: #7e5a9c;
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .e-form__buttons__wrapper__button-next:hover {
    background-color: #a781c6;
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-button[type="submit"]:hover {
    background-color: #a781c6;
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}
.elementor-16 .elementor-element.elementor-element-37b8d0ca > .elementor-widget-container {
    margin: 7px 0px 0px 0px;
    padding: 34px 0px 0px 0px;
}
@media (min-width: 768px) {
    .elementor-16 .elementor-element.elementor-element-f3e404e {
        width: 17%;
    }
    .elementor-16 .elementor-element.elementor-element-94a23db {
        width: 33%;
    }
    .elementor-16 .elementor-element.elementor-element-7660353 {
        width: 33%;
    }
    .elementor-16 .elementor-element.elementor-element-81ce5cb {
        width: 17%;
    }
    .elementor-16 .elementor-element.elementor-element-5b3fa04 {
        width: 10%;
    }
    .elementor-16 .elementor-element.elementor-element-45d5edb {
        width: 40%;
    }
    .elementor-16 .elementor-element.elementor-element-fbe78ac {
        width: 40%;
    }
    .elementor-16 .elementor-element.elementor-element-68028a2 {
        width: 10%;
    }
}
@media (min-width: 1025px) {
    .elementor-16 .elementor-element.elementor-element-2879617:not(.elementor-motion-effects-element-type-background),
    .elementor-16
        .elementor-element.elementor-element-2879617
        > .elementor-motion-effects-container
        > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }
    .elementor-16 .elementor-element.elementor-element-5d794743:not(.elementor-motion-effects-element-type-background),
    .elementor-16
        .elementor-element.elementor-element-5d794743
        > .elementor-motion-effects-container
        > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}
@media (max-width: 1024px) {
    .elementor-16 .elementor-element.elementor-element-685dc49e .elementor-heading-title {
        font-size: 37px;
    }
    .elementor-16 .elementor-element.elementor-element-1446d811 .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-16 .elementor-element.elementor-element-087612d .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-16 .elementor-element.elementor-element-742abf8f {
        margin-top: 5%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
    }
    .elementor-16 .elementor-element.elementor-element-1170e53e > .elementor-element-populated {
        padding: 13px 13px 35px 13px;
    }
    .elementor-16
        .elementor-element.elementor-element-7f5ccb1e
        .elementor-image-box-content
        .elementor-image-box-description {
        font-size: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-a1343df > .elementor-element-populated {
        padding: 13px 13px 35px 13px;
    }
    .elementor-16
        .elementor-element.elementor-element-baa2b19
        .elementor-image-box-content
        .elementor-image-box-description {
        font-size: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-c316af6 > .elementor-element-populated {
        padding: 13px 13px 35px 13px;
    }
    .elementor-16
        .elementor-element.elementor-element-cccbe32
        .elementor-image-box-content
        .elementor-image-box-description {
        font-size: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-291333c {
        margin-top: 5%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
    }
    .elementor-16
        .elementor-element.elementor-element-40f4dca
        .elementor-image-box-content
        .elementor-image-box-description {
        font-size: 15px;
    }
    .elementor-16
        .elementor-element.elementor-element-6f3f851
        .elementor-image-box-content
        .elementor-image-box-description {
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .elementor-16 .elementor-element.elementor-element-2879617 {
        padding: 26px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-685dc49e {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-685dc49e .elementor-heading-title {
        font-size: 25px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-group .elementor-field,
    .elementor-16 .elementor-element.elementor-element-87fdd64 .elementor-field-subgroup label {
        font-size: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-87fdd64 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-f7ecffe {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-f7ecffe .elementor-heading-title {
        font-size: 25px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-15f635e {
        font-size: 14px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-4126f1ee {
        padding: 40px 40px 40px 40px;
    }
    .elementor-16 .elementor-element.elementor-element-74e314d7 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-55e78287 .elementor-icon-box-icon {
        margin-bottom: 45px;
    }
    .elementor-16 .elementor-element.elementor-element-1446d811 .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-16 .elementor-element.elementor-element-433145d6 .elementor-icon-box-icon {
        margin-bottom: 45px;
    }
    .elementor-16 .elementor-element.elementor-element-64af78a6 > .elementor-element-populated {
        padding: 84px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-5205c96e .elementor-icon-box-icon {
        margin-bottom: 45px;
    }
    .elementor-16 .elementor-element.elementor-element-087612d .elementor-spacer-inner {
        height: 50px;
    }
    .elementor-16 .elementor-element.elementor-element-5f3f3310 .elementor-icon-box-icon {
        margin-bottom: 45px;
    }
    .elementor-16 .elementor-element.elementor-element-5f3f3310 > .elementor-widget-container {
        padding: 0px 0px 50px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-ea97e28 {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-ea97e28 .elementor-heading-title {
        font-size: 25px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-90a19d8 {
        font-size: 14px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-4243a730 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-16 .elementor-element.elementor-element-606cffc .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-16 .elementor-element.elementor-element-537770a .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-16 .elementor-element.elementor-element-d21074e {
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-245e35e .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-16 .elementor-element.elementor-element-e0641c5 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-16 .elementor-element.elementor-element-86c5348 .elementor-heading-title {
        font-size: 25px;
    }
    .elementor-16 .elementor-element.elementor-element-5d794743 > .elementor-background-overlay {
        background-position: -426px 0%;
        background-size: 925px auto;
    }
    .elementor-16 .elementor-element.elementor-element-5d794743 {
        margin-top: 15%;
        margin-bottom: 0%;
    }
    .elementor-16 .elementor-element.elementor-element-700209fd {
        padding: 0% 5% 0% 5%;
    }
    .elementor-16 .elementor-element.elementor-element-0f1daf4 {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-0f1daf4 .elementor-heading-title {
        font-size: 25px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-386e0c6 {
        font-size: 16px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-742abf8f {
        margin-top: 20%;
        margin-bottom: 0%;
    }
    .elementor-16 .elementor-element.elementor-element-1170e53e > .elementor-element-populated {
        padding: 10% 10% 10% 10%;
    }
    .elementor-16 .elementor-element.elementor-element-7f5ccb1e .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-7f5ccb1e .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-a1343df > .elementor-element-populated {
        padding: 10% 10% 10% 10%;
    }
    .elementor-16 .elementor-element.elementor-element-baa2b19 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-baa2b19 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-c316af6 > .elementor-element-populated {
        padding: 10% 10% 10% 10%;
    }
    .elementor-16 .elementor-element.elementor-element-cccbe32 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-cccbe32 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-291333c {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .elementor-16 .elementor-element.elementor-element-f3e404e > .elementor-element-populated {
        padding: 10% 10% 10% 10%;
    }
    .elementor-16 .elementor-element.elementor-element-94a23db > .elementor-element-populated {
        padding: 10% 10% 10% 10%;
    }
    .elementor-16 .elementor-element.elementor-element-40f4dca .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-40f4dca .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-7660353 > .elementor-element-populated {
        padding: 10% 10% 10% 10%;
    }
    .elementor-16 .elementor-element.elementor-element-6f3f851 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-6f3f851 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-81ce5cb > .elementor-element-populated {
        padding: 10% 10% 10% 10%;
    }
    .elementor-16 .elementor-element.elementor-element-812549a {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-812549a .elementor-heading-title {
        font-size: 25px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-14f27a2 {
        font-size: 14px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-dcfa28b {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-dcfa28b .elementor-heading-title {
        font-size: 25px;
        line-height: 1.4em;
    }
    .elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-icon {
        margin-bottom: 2px;
    }
    .elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-wrapper {
        text-align: center;
    }
    .elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-content .elementor-icon-box-title,
    .elementor-16 .elementor-element.elementor-element-764ab87 .elementor-icon-box-content .elementor-icon-box-title a {
        font-size: 22px;
    }
    .elementor-16 .elementor-element.elementor-element-918c009 .elementor-icon-box-icon {
        margin-bottom: 11px;
    }
    .elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-group .elementor-field,
    .elementor-16 .elementor-element.elementor-element-37b8d0ca .elementor-field-subgroup label {
        font-size: 15px;
    }
    .elementor-16 .elementor-element.elementor-element-37b8d0ca > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}
