.oceanwp-about-me {
  position  : relative;
  text-align: center
}

.oceanwp-about-me .oceanwp-about-me-avatar,
.oceanwp-about-me .oceanwp-about-me-social {
  margin-top: 20px
}

.oceanwp-about-me .oceanwp-about-me-avatar img {
  position     : relative;
  border-radius: 50%
}

.oceanwp-about-me .oceanwp-about-me-name {
  display       : block;
  font-size     : 13px;
  font-weight   : 600;
  margin        : 16px 0 10px;
  text-transform: uppercase;
  clear         : none
}

.oceanwp-about-me .oceanwp-about-me-social li {
  display    : inline-block;
  margin-left: 6px
}

.oceanwp-about-me .oceanwp-about-me-social li:first-child {
  margin-left: 0
}

.oceanwp-about-me .oceanwp-about-me-social li a {
  display      : inline-block;
  font-size    : 14px;
  text-align   : center;
  width        : 40px;
  height       : 40px;
  line-height  : 40px;
  border-radius: 50%
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li a,
.oceanwp-about-me .oceanwp-about-me-social.style-color li a:hover {
  color: #fff
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.facebook a {
  background-color: #37589b
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.facebook a:hover {
  background-color: #4e7ddd
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.twitter a {
  background-color: #46d4fe
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.twitter a:hover {
  background-color: #7ee1fe
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.google-plus a {
  background-color: #de5a49
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.google-plus a:hover {
  background-color: #fc7a69
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.instagram a {
  background-color: #5996c7
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.instagram a:hover {
  background-color: #69b4f0
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.linkedin a {
  background-color: #419cca
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.linkedin a:hover {
  background-color: #52c3fc
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.pinterest a {
  background-color: #cb2027
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.pinterest a:hover {
  background-color: #f7555c
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.youtube a {
  background-color: #dd4646
}

.oceanwp-about-me .oceanwp-about-me-social.style-color li.youtube a:hover {
  background-color: #ff6262
}

.oceanwp-about-me .oceanwp-about-me-social.style-light li a {
  color : #aaa;
  border: 1px solid #e9e9e9
}

.oceanwp-about-me .oceanwp-about-me-social.style-dark li a {
  color : #929292;
  border: 1px solid #555
}

.oceanwp-about-me .oceanwp-about-me-social.style-light li.facebook a:hover,
.oceanwp-about-me .oceanwp-about-me-social.style-dark li.facebook a:hover {
  color       : #37589b;
  border-color: #37589b
}

.oceanwp-about-me .oceanwp-about-me-social.style-light li.twitter a:hover,
.oceanwp-about-me .oceanwp-about-me-social.style-dark li.twitter a:hover {
  color       : #46d4fe;
  border-color: #46d4fe
}

.oceanwp-about-me .oceanwp-about-me-social.style-light li.google-plus a:hover,
.oceanwp-about-me .oceanwp-about-me-social.style-dark li.google-plus a:hover {
  color       : #de5a49;
  border-color: #de5a49
}

.oceanwp-about-me .oceanwp-about-me-social.style-light li.instagram a:hover,
.oceanwp-about-me .oceanwp-about-me-social.style-dark li.instagram a:hover {
  color       : #5996c7;
  border-color: #5996c7
}

.oceanwp-about-me .oceanwp-about-me-social.style-light li.linkedin a:hover,
.oceanwp-about-me .oceanwp-about-me-social.style-dark li.linkedin a:hover {
  color       : #419cca;
  border-color: #419cca
}

.oceanwp-about-me .oceanwp-about-me-social.style-light li.pinterest a:hover,
.oceanwp-about-me .oceanwp-about-me-social.style-dark li.pinterest a:hover {
  color       : #cb2027;
  border-color: #cb2027
}

.oceanwp-about-me .oceanwp-about-me-social.style-light li.youtube a:hover,
.oceanwp-about-me .oceanwp-about-me-social.style-dark li.youtube a:hover {
  color       : #dd4646;
  border-color: #dd4646
}

#wp-calendar {
  position       : relative;
  width          : 100%;
  font-size      : 12px;
  border-collapse: collapse;
  border-spacing : 0;
  margin         : 0;
  border         : 0
}

#wp-calendar caption {
  font-family     : 'Montserrat', sans-serif;
  font-size       : 13px;
  font-weight     : 400;
  padding-bottom  : 10px;
  padding         : 0 0 10px 0;
  background-color: transparent;
  color           : #13aff0;
  border-width    : 0 0 3px 0;
  border-style    : solid;
  border-color    : #e9e9e9;
  text-align      : center;
  text-transform  : uppercase
}

#wp-calendar td,
#wp-calendar th {
  text-align: center
}

#wp-calendar th {
  font-family     : 'Open Sans';
  font-size       : 12px;
  font-weight     : 400;
  padding         : 13px 0px 14px 0px;
  background-color: transparent;
  color           : #777;
  border-width    : 0 0 1px 0;
  border-style    : solid;
  border-color    : #e9e9e9
}

#wp-calendar tbody {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #e9e9e9
}

#wp-calendar tbody td,
#wp-calendar tbody td:hover,
#wp-calendar tbody td.pad:hover {
  background: transparent
}

#wp-calendar tbody td {
  font-family   : 'Open Sans';
  font-size     : 12px;
  color         : #929292;
  width         : 14.2857%;
  height        : 30px;
  line-height   : 30px;
  font-weight   : 400;
  padding       : 5px 0 0 0;
  border        : 0;
  vertical-align: middle
}

#wp-calendar tbody tr:last-child td {
  padding-bottom: 10px
}

#wp-calendar tbody a,
#wp-calendar tbody #today {
  font-weight: 600
}

#wp-calendar tbody #today {
  color: #111
}

#wp-calendar tfoot td {
  background-color: transparent;
  border          : 0
}

#wp-calendar tfoot tr td {
  position        : absolute;
  top             : -10px;
  font-family     : 'Montserrat', sans-serif;
  background-color: transparent !important;
  font-size       : 11px;
  padding-top     : 10px;
  text-transform  : uppercase
}

#wp-calendar tfoot tr td#prev,
#wp-calendar tfoot tr td#next {
  z-index: 10
}

#wp-calendar tfoot tr td a {
  border-bottom: 1px solid
}

#wp-calendar tfoot tr td a:hover {
  border-bottom-style: dashed
}

#wp-calendar tfoot #next {
  right: 0
}

.contact-info-widget {
  list-style: none;
  margin    : 0;
  padding   : 0
}

.contact-info-widget li {
  display: inline-block;
  width  : 100%;
  margin : 0 0 20px;
  padding: 0;
  border : 0
}

.contact-info-widget li:last-child {
  margin-bottom: 0
}

.contact-info-widget .oceanwp-info-wrap,
.contact-info-widget span.oceanwp-contact-title,
.contact-info-widget span.oceanwp-contact-text {
  display: block
}

.contact-info-widget span.oceanwp-contact-title {
  color      : #777;
  font-weight: bold;
  line-height: 1.4
}

.contact-info-widget span.oceanwp-contact-text {
  line-height: 18px
}

.contact-info-widget li.skype {
  display: inline-block
}

.contact-info-widget li.skype a {
  display         : inline-block;
  background-color: #0ca5de;
  color           : #fff;
  font-size       : 12px;
  font-weight     : 600;
  line-height     : 1;
  letter-spacing  : 1px;
  text-transform  : uppercase;
  padding         : 12px 15px
}

.contact-info-widget li.skype a:hover {
  background-color: #0581af;
  color           : #fff
}

.contact-info-widget.default i {
  float                : left;
  width                : 40px;
  height               : 40px;
  line-height          : 40px;
  border               : 1px solid #e9e9e9;
  color                : #13aff0;
  margin-right         : 15px;
  text-align           : center;
  -webkit-border-radius: 2px;
  -moz-border-radius   : 2px;
  border-radius        : 2px
}

.contact-info-widget.default .oceanwp-info-wrap {
  padding-left: 55px
}

.contact-info-widget.big-icons li {
  display            : -webkit-box;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-flex-wrap  : wrap;
  flex-wrap          : wrap;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center;
  margin-bottom      : 30px
}

.contact-info-widget.big-icons li:last-child {
  margin-bottom: 0
}

.contact-info-widget.big-icons i {
  float                : left;
  width                : 72px;
  height               : 72px;
  line-height          : 72px;
  font-size            : 30px;
  margin-right         : 20px;
  color                : #13aff0;
  border               : 1px solid #e9e9e9;
  text-align           : center;
  -webkit-border-radius: 50%;
  -moz-border-radius   : 50%;
  border-radius        : 50%;
  -webkit-transition   : all .3s ease;
  -moz-transition      : all .3s ease;
  transition           : all .3s ease
}

.contact-info-widget.big-icons li:hover i {
  background-color: #13aff0;
  color           : #fff;
  border-color    : #13aff0
}

.contact-info-widget.big-icons span.oceanwp-contact-title {
  display  : block;
  font-size: 14px
}

.contact-info-widget.big-icons li.skype a {
  width     : 100%;
  text-align: center
}

.contact-info-widget.no-icons li .oceanwp-contact-title {
  display    : inline-block;
  min-width  : 70px;
  font-weight: 600
}

.contact-info-widget.no-icons li.skype {
  margin-top: 20px
}

.oceanwp-custom-links {
  list-style: none;
  margin    : 0;
  padding   : 0
}

.oceanwp-custom-links li {
  padding: 2px 0
}

.oceanwp-custom-links li a {
  display  : inline-block;
  position : relative;
  font-size: 13px;
  color    : #333
}

.oceanwp-custom-links li a:before {
  content       : '\f111';
  display       : inline-block;
  color         : #929292;
  font-size     : 10px;
  margin-right  : 10px;
  margin-top    : -2px;
  font-family   : 'Font Awesome 5 Free';
  font-weight   : 400;
  vertical-align: middle;
  zoom          : 1
}

.oceanwp-custom-links li a:hover {
  margin-left: 8px;
  color      : #13aff0
}

.oceanwp-custom-links li a:hover:before {
  color: #13aff0
}

.oceanwp-custom-links li:first-child {
  padding-top: 0
}

.oceanwp-custom-menu.right {
  text-align: right
}

.oceanwp-custom-menu.center {
  text-align: center
}

.oceanwp-custom-menu>ul {
  list-style: none;
  margin    : 0;
  padding   : 0
}

.oceanwp-custom-menu>ul>li {
  float  : none;
  display: inline-block
}

.oceanwp-custom-menu>ul>li>a {
  display       : block;
  padding       : 8px 15px;
  font-size     : 13px;
  line-height   : 20px;
  color         : #555;
  letter-spacing: 0.6px
}

.oceanwp-custom-menu>ul>li>a:hover {
  color: #333
}

.custom-menu-widget .oceanwp-custom-menu>ul>li {
  display      : block;
  border-bottom: 1px solid #e9e9e9
}

.custom-menu-widget .oceanwp-custom-menu>ul>li>a {
  padding: 8px 0
}

.custom-menu-widget .oceanwp-custom-menu>ul>li>a .nav-arrow {
  position         : absolute;
  top              : 50%;
  right            : 0;
  padding          : 0;
  -ms-transform    : translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform        : translateY(-50%)
}

.custom-menu-widget .oceanwp-custom-menu.right>ul>li>a .nav-arrow {
  right: auto;
  left : 0
}

[dir="rtl"] .custom-menu-widget .oceanwp-custom-menu.right>ul>li>a .nav-arrow {
  right: 0;
  left : auto
}

.custom-menu-widget .oceanwp-custom-menu .dropdown-menu .sub-menu {
  position          : relative;
  top               : auto;
  left              : auto;
  background-color  : transparent;
  border-top        : 0;
  min-width         : 100%;
  margin            : 10px 0 0 12px;
  line-height       : 1;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  box-shadow        : none
}

[dir="rtl"] .custom-menu-widget .oceanwp-custom-menu .dropdown-menu .sub-menu {
  right: auto
}

.custom-menu-widget .oceanwp-custom-menu .dropdown-menu .sub-menu li {
  float        : none;
  display      : block;
  border-bottom: 1px solid #e9e9e9
}

.custom-menu-widget .oceanwp-custom-menu .dropdown-menu .sub-menu li:last-child {
  border-bottom: 0
}

.custom-menu-widget .oceanwp-custom-menu .dropdown-menu .sub-menu li a.menu-link {
  padding       : 8px 0;
  font-size     : 13px;
  line-height   : 20px;
  color         : #555;
  letter-spacing: 0.6px
}

.custom-menu-widget .oceanwp-custom-menu .dropdown-menu .sub-menu li a.menu-link:hover {
  background-color: transparent;
  color           : #333
}

.custom-menu-widget .oceanwp-custom-menu>ul.click-menu li a {
  position: relative
}

.custom-menu-widget .oceanwp-custom-menu>ul.click-menu li a .nav-arrow {
  display: none
}

.custom-menu-widget .oceanwp-custom-menu>ul.click-menu .open-this {
  position   : absolute;
  top        : 0;
  right      : 0;
  width      : 36px;
  height     : 100%;
  line-height: 36px;
  font-size  : 14px;
  text-align : center;
  cursor     : pointer;
  z-index    : 10
}

[dir="rtl"] .custom-menu-widget .oceanwp-custom-menu>ul.click-menu .open-this {
  left : 0;
  right: auto
}

.custom-menu-widget .oceanwp-custom-menu>ul.click-menu .open-this i {
  padding: 0
}

.custom-menu-widget .oceanwp-custom-menu>ul.click-menu li.opened>a>.open-this i:before {
  content: '\f106'
}

.custom-menu-widget .oceanwp-custom-menu>ul.click-menu .sub-menu {
  border-top: 1px solid #e9e9e9;
  margin    : 0
}

.oceanwp-instagram-pics li {
  display           : block;
  float             : left;
  height            : 100%;
  -webkit-transition: all .3s ease;
  -moz-transition   : all .3s ease;
  transition        : all .3s ease
}

.oceanwp-instagram-pics.margin li {
  padding: 3px
}

.oceanwp-instagram-pics li a {
  vertical-align: top
}

.oceanwp-instagram-pics li img {
  display: block;
  width  : 100%
}

.oceanwp-instagram-pics li:hover {
  opacity: 0.8
}

.oceanwp-instagram-header {
  position: relative;
  padding : 10px
}

.oceanwp-instagram-header.oceanwp-left {
  text-align: left
}

.oceanwp-instagram-header.oceanwp-right {
  text-align: right
}

.oceanwp-instagram-header.oceanwp-center {
  text-align: center
}

.oceanwp-instagram-avatar {
  line-height: 1
}

.oceanwp-instagram-header.oceanwp-left .oceanwp-instagram-avatar {
  float       : left;
  margin-right: 10px
}

.oceanwp-instagram-header.oceanwp-right .oceanwp-instagram-avatar {
  float      : right;
  margin-left: 10px
}

.oceanwp-instagram-header.oceanwp-center .oceanwp-instagram-avatar {
  margin: 0 0 10px
}

.oceanwp-instagram-avatar a {
  position: relative;
  display : inline-block;
  width   : 75px;
  height  : 75px;
  overflow: hidden
}

.oceanwp-instagram-avatar.square a,
.oceanwp-instagram-avatar.square a img {
  -webkit-border-radius: 2px;
  -moz-border-radius   : 2px;
  border-radius        : 2px
}

.oceanwp-instagram-avatar.rounded a,
.oceanwp-instagram-avatar.rounded a img {
  -webkit-border-radius: 50%;
  -moz-border-radius   : 50%;
  border-radius        : 50%
}

.oceanwp-instagram-avatar a img {
  width             : 75px;
  height            : 75px;
  -webkit-transition: all .3s ease;
  -moz-transition   : all .3s ease;
  transition        : all .3s ease
}

.oceanwp-instagram-avatar a:hover img {
  opacity: 0.5
}

.oceanwp-instagram-follow {
  position          : absolute;
  top               : 0;
  margin-top        : -12px;
  display           : block;
  text-align        : center;
  width             : 100%;
  opacity           : 0;
  -webkit-transition: all ease-out .2s;
  -moz-transition   : all ease-out .2s;
  -o-transition     : all ease-out .2s;
  transition        : all ease-out .2s
}

.oceanwp-instagram-follow span {
  display              : inline-block;
  padding              : 4px 6px;
  font-size            : 10px;
  line-height          : 1;
  text-transform       : uppercase;
  background-color     : #47bc60;
  background-image     : -webkit-gradient(linear, left top, left bottom, from(#47bc60), to(#39a64e));
  background-image     : -webkit-linear-gradient(top, #47bc60, #39a64e);
  background-image     : -moz-linear-gradient(top, #47bc60, #39a64e);
  background-image     : -o-linear-gradient(top, #47bc60, #39a64e);
  background-image     : -ms-linear-gradient(top, #47bc60, #39a64e);
  background-image     : linear-gradient(top, #47bc60, #39a64e);
  filter               : progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#47bc60', EndColorStr='#39a64e');
  color                : #fff;
  border               : 1px solid #329345;
  text-shadow          : 0 1px 1px #2c803c;
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px
}

.oceanwp-instagram-avatar a:hover .oceanwp-instagram-follow {
  top    : 50%;
  opacity: 1
}

.oceanwp-instagram-info .oceanwp-instagram-username {
  display       : block;
  font-size     : 16px;
  font-weight   : 600;
  line-height   : 1.3;
  margin        : 0 0 4px;
  text-transform: capitalize
}

.oceanwp-instagram-info .oceanwp-instagram-desc {
  display    : block;
  line-height: 1.3;
  margin     : 0
}

.oceanwp-instagram-pics.style-one li:first-child {
  width: 100%
}

.oceanwp-instagram-pics.style-one li {
  width: 33.33%
}

.oceanwp-instagram-pics.style-two li:nth-child(1),
.oceanwp-instagram-pics.style-two li:nth-child(2) {
  width: 50%
}

.oceanwp-instagram-pics.style-two li {
  width: 25%
}

.oceanwp-instagram-pics.style-three li:nth-child(4n+1) {
  width: 100%
}

.oceanwp-instagram-pics.style-three li {
  width: 33.33%
}

.oceanwp-style-four-wrap {
  background           : #f6f6f6;
  border-bottom        : 3px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  border-radius        : 3px
}

.oceanwp-instagram-bar {
  background-color       : #6f97b6;
  background-image       : -webkit-gradient(linear, left top, left bottom, from(#6f97b6), to(#3f729b));
  background-image       : -webkit-linear-gradient(top, #6f97b6, #3f729b);
  background-image       : -moz-linear-gradient(top, #6f97b6, #3f729b);
  background-image       : -ms-linear-gradient(top, #6f97b6, #3f729b);
  background-image       : -o-linear-gradient(top, #6f97b6, #3f729b);
  background-image       : linear-gradient(top, #6f97b6, #3f729b);
  filter                 : progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#6f97b6', EndColorStr='#3f729b');
  border-top-left-radius : 3px;
  border-top-right-radius: 3px;
  overflow               : hidden
}

.oceanwp-instagram-bar .instagram-logo {
  display   : block;
  margin    : 8px auto 6px;
  width     : 96px;
  height    : 29px;
  background: url("../../assets/img/instagram-logo.png") no-repeat
}

.oceanwp-style-four-wrap .oceanwp-instagram-header {
  background-color   : #fff;
  padding            : 20px 15px;
  border-left-width  : 1px;
  border-right-width : 1px;
  border-bottom-width: 1px;
  border-style       : solid;
  border-color       : #eaeaea
}

.oceanwp-style-four-wrap .oceanwp-instagram-header.oceanwp-after {
  border-top   : 1px solid #eaeaea;
  margin-bottom: 10px
}

.oceanwp-instagram-pics.style-four.margin li img {
  padding           : 3px;
  background        : #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow   : 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow        : 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1)
}

.oceanwp-instagram-pics.style-four {
  padding           : 10px;
  border-left-width : 1px;
  border-right-width: 1px;
  border-style      : solid;
  border-color      : #eaeaea
}

.oceanwp-instagram-pics.style-four li {
  width: 33.33%
}

.oceanwp-instagram-pics.two-columns li {
  width: 50%
}

.oceanwp-instagram-pics.three-columns li {
  width: 33.33%
}

.oceanwp-instagram-pics.four-columns li {
  width: 25%
}

.oceanwp-instagram-pics.five-columns li {
  width: 20%
}

.oceanwp-instagram-pics.six-columns li {
  width: 16.66%
}

.oceanwp-instagram-pics.seven-columns li {
  width: 14.28%
}

.oceanwp-instagram-pics.eight-columns li {
  width: 12.5%
}

.oceanwp-instagram-pics.nine-columns li {
  width: 11.11%
}

.oceanwp-instagram-pics.ten-columns li {
  width: 10%
}

.oceanwp-instagram-link {
  display   : block;
  margin    : 10px 0 0;
  text-align: center
}

.oceanwp-instagram-link a {
  display       : inline-block;
  font-size     : 12px;
  line-height   : 1.2;
  letter-spacing: 0.8px;
  padding       : 0 0 3px;
  border-bottom : 1px solid;
  text-transform: uppercase
}

.oceanwp-style-four-wrap .oceanwp-instagram-link {
  padding           : 3px 0 16px;
  margin            : 0;
  border-left-width : 1px;
  border-right-width: 1px;
  border-style      : solid;
  border-color      : #eaeaea
}

.oceanwp-style-four-wrap .oceanwp-instagram-link a {
  display              : block;
  background-color     : #5582A7;
  color                : #fff;
  padding              : 12px 8px;
  margin               : 0 auto;
  font-weight          : 600;
  border               : 0;
  width                : 80%;
  max-width            : 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -webkit-box-shadow   : 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow      : 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow           : 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 3px rgba(0, 0, 0, 0.1)
}

.oceanwp-style-four-wrap .oceanwp-instagram-link a:hover {
  background-color: #3f729b;
  color           : #fff
}

.oceanwp-flickr-wrap .flickr_badge_image {
  float     : left;
  margin    : 0 4% 10px 0;
  width     : 30.6%;
  transition: all .3s ease
}

.oceanwp-flickr-wrap .flickr_badge_image:hover {
  opacity: 0.8
}

.oceanwp-flickr-wrap .flickr_badge_image#flickr_badge_image3,
.oceanwp-flickr-wrap .flickr_badge_image#flickr_badge_image6,
.oceanwp-flickr-wrap .flickr_badge_image#flickr_badge_image9 {
  margin-right: 0
}

.oceanwp-flickr-wrap .flickr_badge_image a {
  border: none
}

.oceanwp-flickr-wrap .flickr_badge_image img {
  margin    : 0;
  overflow  : hidden;
  position  : relative;
  width     : 100%;
  height    : 100%;
  max-width : 100%;
  max-height: 100%
}

p.flickr_stream_wrap {
  display       : inline-block;
  width         : 100%;
  margin-top    : 10px;
  margin-bottom : 0;
  font-size     : 90%;
  line-height   : 1;
  letter-spacing: 0.6px
}

p.flickr_stream_wrap a {
  display            : inline-block;
  background-image   : url("../../assets/img/flickr.png");
  background-repeat  : no-repeat;
  background-position: left center;
  padding-left       : 25px
}

@media only screen and (max-width: 480px) {
  .oceanwp-flickr-wrap .flickr_badge_image {
    width: 23%
  }
}

.oceanwp-newsletter-form-wrap {
  position: relative
}

.oceanwp-newsletter-form-wrap .oceanwp-mail-text {
  margin-bottom: 10px
}

.oceanwp-newsletter-form-wrap form {
  position : relative;
  max-width: 100%;
  margin   : 0 auto
}

.oceanwp-newsletter-form-wrap input[type="email"] {
  height : 50px;
  padding: 0 15px;
  margin : 0
}

.oceanwp-newsletter-form-wrap button {
  display          : block;
  position         : absolute;
  top              : 50%;
  right            : 15px;
  padding          : 0 15px;
  height           : 60%;
  border-radius    : 3px;
  -ms-transform    : translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform        : translateY(-50%)
}

#mc-embedded-subscribe-form .email-wrap {
  position     : relative;
  margin-bottom: 10px
}

#mc-embedded-subscribe-form .gdpr-wrap label,
#mc-embedded-subscribe-form .gdpr-wrap .err-msg {
  display: block
}

#mc-embedded-subscribe-form .err-msg,
#mc-embedded-subscribe-form .res-msg {
  display      : block;
  padding      : 3px 13px;
  margin-bottom: 10px;
  border       : 1px solid transparent;
  border-radius: 4px
}

#mc-embedded-subscribe-form .err-msg,
#mc-embedded-subscribe-form .failed.res-msg {
  color           : #a94442;
  background-color: #f2dede;
  border-color    : #ebccd1
}

#mc-embedded-subscribe-form .success.res-msg {
  color           : #3c763d;
  background-color: #dff0d8;
  border-color    : #d6e9c6
}

#mc-embedded-subscribe-form .success.res-msg,
#mc-embedded-subscribe-form .failed.res-msg {
  margin: 6px 0 0
}

body.woocommerce .oceanwp-newsletter-form-wrap button {
  padding-top   : 0 !important;
  padding-bottom: 0 !important
}

.oceanwp-recent-posts li {
  display        : -webkit-box;
  display        : -moz-box;
  display        : -ms-flexbox;
  display        : -webkit-flex;
  display        : flex;
  align-items    : center;
  justify-content: center;
  position       : relative;
  line-height    : 1.6;
  margin-top     : 15px;
  padding-top    : 15px;
  border-top     : 1px solid #e9e9e9
}

.oceanwp-recent-posts li:first-child {
  margin-top : 0;
  padding-top: 0;
  border     : 0
}

.oceanwp-recent-posts .recent-posts-thumbnail {
  position    : relative;
  width       : 25%;
  min-width   : 68px;
  margin-right: 4%
}

.oceanwp-recent-posts .recent-posts-thumbnail img {
  width        : 100%;
  border-radius: 3px
}

.oceanwp-recent-posts .recent-posts-thumbnail .overlay {
  position          : absolute;
  bottom            : 0;
  left              : 0;
  right             : 0;
  width             : 100%;
  height            : 100%;
  border-radius     : 3px;
  background-color  : rgba(0, 0, 0, 0.2);
  opacity           : 0;
  text-align        : center;
  transition        : all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition   : all .3s ease;
  -o-transition     : all .3s ease;
  -ms-transition    : all .3s ease
}

.oceanwp-recent-posts .recent-posts-thumbnail:hover .overlay {
  opacity: 1
}

.oceanwp-recent-posts .recent-posts-details {
  width: 100%
}

.oceanwp-recent-posts .recent-posts-title {
  font-weight   : 500;
  letter-spacing: 0.4px
}

.oceanwp-recent-posts .recent-posts-info {
  display       : block;
  color         : #aaa;
  margin-top    : 6px;
  font-size     : 10px;
  line-height   : 1.2;
  text-transform: uppercase;
  letter-spacing: 0.2px
}

.oceanwp-recent-posts .recent-posts-info .sep {
  padding: 0 3px
}

.oceanwp-recent-posts .recent-posts-date,
.oceanwp-recent-posts .recent-posts-comments {
  display: inline-block
}

.oceanwp-recent-posts .recent-posts-date i,
.oceanwp-recent-posts .recent-posts-comments i {
  margin-right: 4px
}

.oceanwp-recent-posts .recent-posts-comments a {
  color: #999
}

.oceanwp-recent-posts .recent-posts-comments a:hover {
  color: #32b6c0
}

@media only screen and (max-width: 959px) {
  .oceanwp-recent-posts .recent-posts-thumbnail {
    width       : 15%;
    margin-right: 3%
  }
}

@media only screen and (max-width: 480px) {
  .oceanwp-recent-posts .recent-posts-thumbnail {
    width       : 25%;
    margin-right: 4%
  }
}

.oceanwp-social-icons {
  display   : inline-block;
  width     : 100%;
  list-style: none;
  margin    : 0;
  padding   : 0
}

.oceanwp-social-icons.rotate a:hover {
  transform: rotate(360deg)
}

.oceanwp-social-icons.zoomout a:hover {
  transform: scale(0.8)
}

.oceanwp-social-icons.float a:hover {
  transform: translateY(-3px)
}

.oceanwp-social-icons li {
  display: inline-block;
  margin : 3px;
  padding: 0
}

.oceanwp-social-icons li a {
  display   : block;
  padding   : 0;
  text-align: center
}

.oceanwp-social-icons.style-light li a,
.oceanwp-social-icons.style-dark li a,
.oceanwp-social-icons.style-colored li a {
  width        : 55px;
  height       : 55px;
  line-height  : 55px;
  font-size    : 16px;
  border-radius: 2px
}

.oceanwp-social-icons.style-light li a {
  color : #bbb;
  border: 1px solid #e9e9e9
}

.oceanwp-social-icons.style-light li.oceanwp-twitter a:hover {
  color       : #46d4fe !important;
  border-color: #46d4fe !important
}

.oceanwp-social-icons.style-light li.oceanwp-facebook a:hover {
  color       : #37589b !important;
  border-color: #37589b !important
}

.oceanwp-social-icons.style-light li.oceanwp-google-plus a:hover {
  color       : #de5a49 !important;
  border-color: #de5a49 !important
}

.oceanwp-social-icons.style-light li.oceanwp-pinterest a:hover {
  color       : #cb2027 !important;
  border-color: #cb2027 !important
}

.oceanwp-social-icons.style-light li.oceanwp-dribbble a:hover {
  color       : #ea4c89 !important;
  border-color: #ea4c89 !important
}

.oceanwp-social-icons.style-light li.oceanwp-vk a:hover {
  color       : #597BA5 !important;
  border-color: #597BA5 !important
}

.oceanwp-social-icons.style-light li.oceanwp-instagram a:hover {
  color       : #3F729B !important;
  border-color: #3F729B !important
}

.oceanwp-social-icons.style-light li.oceanwp-linkedin a:hover {
  color       : #3399CC !important;
  border-color: #3399CC !important
}

.oceanwp-social-icons.style-light li.oceanwp-tumblr a:hover {
  color       : #2C4762 !important;
  border-color: #2C4762 !important
}

.oceanwp-social-icons.style-light li.oceanwp-github a:hover {
  color       : #60b044 !important;
  border-color: #60b044 !important
}

.oceanwp-social-icons.style-light li.oceanwp-flickr a:hover {
  color       : #fa4086 !important;
  border-color: #fa4086 !important
}

.oceanwp-social-icons.style-light li.oceanwp-skype a:hover {
  color       : #00AFF0 !important;
  border-color: #00AFF0 !important
}

.oceanwp-social-icons.style-light li.oceanwp-trello a:hover {
  color       : #0079bf !important;
  border-color: #0079bf !important
}

.oceanwp-social-icons.style-light li.oceanwp-foursquare a:hover {
  color       : #2d5be3 !important;
  border-color: #2d5be3 !important
}

.oceanwp-social-icons.style-light li.oceanwp-youtube a:hover {
  color       : #C4302B !important;
  border-color: #C4302B !important
}

.oceanwp-social-icons.style-light li.oceanwp-vimeo a:hover {
  color       : #1ab7ea !important;
  border-color: #1ab7ea !important
}

.oceanwp-social-icons.style-light li.oceanwp-vine a:hover {
  color       : #00bf8f !important;
  border-color: #00bf8f !important
}

.oceanwp-social-icons.style-light li.oceanwp-xing a:hover {
  color       : #006464 !important;
  border-color: #006464 !important
}

.oceanwp-social-icons.style-light li.oceanwp-yelp a:hover {
  color       : #C41200 !important;
  border-color: #C41200 !important
}

.oceanwp-social-icons.style-light li.oceanwp-tripadvisor a:hover {
  color       : #589442 !important;
  border-color: #589442 !important
}

.oceanwp-social-icons.style-light li.oceanwp-rss a:hover {
  color       : #ff7900 !important;
  border-color: #ff7900 !important
}

.oceanwp-social-icons.style-light li.oceanwp-email a:hover {
  color       : #13aff0 !important;
  border-color: #13aff0 !important
}

.oceanwp-social-icons.style-dark li a {
  color : #333;
  border: 1px solid #333
}

.oceanwp-social-icons.style-dark li.oceanwp-twitter a:hover {
  color       : #46d4fe !important;
  border-color: #46d4fe !important
}

.oceanwp-social-icons.style-dark li.oceanwp-facebook a:hover {
  color       : #37589b !important;
  border-color: #37589b !important
}

.oceanwp-social-icons.style-dark li.oceanwp-google-plus a:hover {
  color       : #de5a49 !important;
  border-color: #de5a49 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-pinterest a:hover {
  color       : #cb2027 !important;
  border-color: #cb2027 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-dribbble a:hover {
  color       : #ea4c89 !important;
  border-color: #ea4c89 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-vk a:hover {
  color       : #597BA5 !important;
  border-color: #597BA5 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-instagram a:hover {
  color       : #3F729B !important;
  border-color: #3F729B !important
}

.oceanwp-social-icons.style-dark li.oceanwp-linkedin a:hover {
  color       : #3399CC !important;
  border-color: #3399CC !important
}

.oceanwp-social-icons.style-dark li.oceanwp-tumblr a:hover {
  color       : #2C4762 !important;
  border-color: #2C4762 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-github a:hover {
  color       : #60b044 !important;
  border-color: #60b044 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-flickr a:hover {
  color       : #fa4086 !important;
  border-color: #fa4086 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-skype a:hover {
  color       : #00AFF0 !important;
  border-color: #00AFF0 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-trello a:hover {
  color       : #0079bf !important;
  border-color: #0079bf !important
}

.oceanwp-social-icons.style-dark li.oceanwp-foursquare a:hover {
  color       : #2d5be3 !important;
  border-color: #2d5be3 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-youtube a:hover {
  color       : #C4302B !important;
  border-color: #C4302B !important
}

.oceanwp-social-icons.style-dark li.oceanwp-vimeo a:hover {
  color       : #1ab7ea !important;
  border-color: #1ab7ea !important
}

.oceanwp-social-icons.style-dark li.oceanwp-vine a:hover {
  color       : #00bf8f !important;
  border-color: #00bf8f !important
}

.oceanwp-social-icons.style-dark li.oceanwp-xing a:hover {
  color       : #006464 !important;
  border-color: #006464 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-yelp a:hover {
  color       : #C41200 !important;
  border-color: #C41200 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-tripadvisor a:hover {
  color       : #589442 !important;
  border-color: #589442 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-rss a:hover {
  color       : #ff7900 !important;
  border-color: #ff7900 !important
}

.oceanwp-social-icons.style-dark li.oceanwp-email a:hover {
  color       : #13aff0 !important;
  border-color: #13aff0 !important
}

.oceanwp-social-icons.style-colored li a {
  color: #fff
}

.oceanwp-social-icons.style-colored li a:hover {
  color: #fff
}

.oceanwp-social-icons.style-colored li.oceanwp-twitter a {
  background-color: #46d4fe
}

.oceanwp-social-icons.style-colored li.oceanwp-twitter a:hover {
  background-color: #39b4d8
}

.oceanwp-social-icons.style-colored li.oceanwp-facebook a {
  background-color: #37589b
}

.oceanwp-social-icons.style-colored li.oceanwp-facebook a:hover {
  background-color: #2d477c
}

.oceanwp-social-icons.style-colored li.oceanwp-google-plus a {
  background-color: #de5a49
}

.oceanwp-social-icons.style-colored li.oceanwp-google-plus a:hover {
  background-color: #bb4c3e
}

.oceanwp-social-icons.style-colored li.oceanwp-pinterest a {
  background-color: #cb2027
}

.oceanwp-social-icons.style-colored li.oceanwp-pinterest a:hover {
  background-color: #a91d23
}

.oceanwp-social-icons.style-colored li.oceanwp-dribbble a {
  background-color: #ea4c89
}

.oceanwp-social-icons.style-colored li.oceanwp-dribbble a:hover {
  background-color: #c64174
}

.oceanwp-social-icons.style-colored li.oceanwp-vk a {
  background-color: #597BA5
}

.oceanwp-social-icons.style-colored li.oceanwp-vk a:hover {
  background-color: #486384
}

.oceanwp-social-icons.style-colored li.oceanwp-instagram a {
  background-color: #3F729B
}

.oceanwp-social-icons.style-colored li.oceanwp-instagram a:hover {
  background-color: #315a7c
}

.oceanwp-social-icons.style-colored li.oceanwp-linkedin a {
  background-color: #3399CC
}

.oceanwp-social-icons.style-colored li.oceanwp-linkedin a:hover {
  background-color: #2678a1
}

.oceanwp-social-icons.style-colored li.oceanwp-tumblr a {
  background-color: #2C4762
}

.oceanwp-social-icons.style-colored li.oceanwp-tumblr a:hover {
  background-color: #1d3042
}

.oceanwp-social-icons.style-colored li.oceanwp-github a {
  background-color: #60b044
}

.oceanwp-social-icons.style-colored li.oceanwp-github a:hover {
  background-color: #4f9237
}

.oceanwp-social-icons.style-colored li.oceanwp-flickr a {
  background-color: #fa4086
}

.oceanwp-social-icons.style-colored li.oceanwp-flickr a:hover {
  background-color: #c63169
}

.oceanwp-social-icons.style-colored li.oceanwp-skype a {
  background-color: #00AFF0
}

.oceanwp-social-icons.style-colored li.oceanwp-skype a:hover {
  background-color: #0291c6
}

.oceanwp-social-icons.style-colored li.oceanwp-trello a {
  background-color: #0079bf
}

.oceanwp-social-icons.style-colored li.oceanwp-trello a:hover {
  background-color: #0079bf
}

.oceanwp-social-icons.style-colored li.oceanwp-foursquare a {
  background-color: #2d5be3
}

.oceanwp-social-icons.style-colored li.oceanwp-foursquare a:hover {
  background-color: #2d5be3
}

.oceanwp-social-icons.style-colored li.oceanwp-youtube a {
  background-color: #C4302B
}

.oceanwp-social-icons.style-colored li.oceanwp-youtube a:hover {
  background-color: #982420
}

.oceanwp-social-icons.style-colored li.oceanwp-vimeo a {
  background-color: #1ab7ea
}

.oceanwp-social-icons.style-colored li.oceanwp-vimeo a:hover {
  background-color: #1494bd
}

.oceanwp-social-icons.style-colored li.oceanwp-vine a {
  background-color: #00bf8f
}

.oceanwp-social-icons.style-colored li.oceanwp-vine a:hover {
  background-color: #01906c
}

.oceanwp-social-icons.style-colored li.oceanwp-xing a {
  background-color: #006464
}

.oceanwp-social-icons.style-colored li.oceanwp-xing a:hover {
  background-color: #014646
}

.oceanwp-social-icons.style-colored li.oceanwp-yelp a {
  background-color: #C41200
}

.oceanwp-social-icons.style-colored li.oceanwp-yelp a:hover {
  background-color: #940f01
}

.oceanwp-social-icons.style-colored li.oceanwp-tripadvisor a {
  background-color: #589442
}

.oceanwp-social-icons.style-colored li.oceanwp-tripadvisor a:hover {
  background-color: #426f32
}

.oceanwp-social-icons.style-colored li.oceanwp-rss a {
  background-color: #ff7900
}

.oceanwp-social-icons.style-colored li.oceanwp-rss a:hover {
  background-color: #d46603
}

.oceanwp-social-icons.style-colored li.oceanwp-email a {
  background-color: #13aff0
}

.oceanwp-social-icons.style-colored li.oceanwp-email a:hover {
  background-color: #0f8dc2
}

.oceanwp-social-icons.style-simple li {
  margin: 0 6px
}

.oceanwp-social-icons.style-simple li a {
  font-size: 16px
}

.owp-social-share {
  margin    : 0;
  padding   : 0;
  list-style: none
}

.owp-social-share li {
  float : left;
  margin: 0 8px 8px 0
}

.owp-social-share li a {
  display                : -webkit-inline-flex;
  display                : -ms-inline-flex;
  display                : inline-flex;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  position               : relative;
  width                  : 40px;
  height                 : 40px;
  line-height            : 1;
  border-radius          : 30px;
  overflow               : hidden
}

.owp-social-share li a .owpss-icon {
  fill              : #fff;
  width             : 16px;
  height            : 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition   : all 0.3s ease;
  -ms-transition    : all 0.3s ease;
  -o-transition     : all 0.3s ease;
  transition        : all 0.3s ease
}

.owp-social-share.style-minimal li a {
  border: 1px solid #e9e9e9
}

.owp-social-share.style-minimal li a .owpss-icon {
  fill: #bbb
}

.owp-social-share.style-minimal li.twitter a:hover {
  color       : #00aced;
  border-color: #00aced
}

.owp-social-share.style-minimal li.twitter a:hover .owpss-icon {
  fill: #00aced
}

.owp-social-share.style-minimal li.facebook a:hover {
  color       : #3b5998;
  border-color: #3b5998
}

.owp-social-share.style-minimal li.facebook a:hover .owpss-icon {
  fill: #3b5998
}

.owp-social-share.style-minimal li.googleplus a:hover {
  color       : #dd4b39;
  border-color: #dd4b39
}

.owp-social-share.style-minimal li.googleplus a:hover .owpss-icon {
  fill: #dd4b39
}

.owp-social-share.style-minimal li.linkedin a:hover {
  color       : #3399CC;
  border-color: #3399CC
}

.owp-social-share.style-minimal li.linkedin a:hover .owpss-icon {
  fill: #3399CC
}

.owp-social-share.style-minimal li.pinterest a:hover {
  color       : #cb2027;
  border-color: #cb2027
}

.owp-social-share.style-minimal li.pinterest a:hover .owpss-icon {
  fill: #cb2027
}

.owp-social-share.style-minimal li.viber a:hover {
  color       : #9d62cc;
  border-color: #9d62cc
}

.owp-social-share.style-minimal li.viber a:hover .owpss-icon {
  fill: #9d62cc
}

.owp-social-share.style-minimal li.vk a:hover {
  color       : #3673be;
  border-color: #3673be
}

.owp-social-share.style-minimal li.vk a:hover .owpss-icon {
  fill: #3673be
}

.owp-social-share.style-minimal li.reddit a:hover {
  color       : #ff5c1f;
  border-color: #ff5c1f
}

.owp-social-share.style-minimal li.reddit a:hover .owpss-icon {
  fill: #ff5c1f
}

.owp-social-share.style-minimal li.tumblr a:hover {
  color       : #35465c;
  border-color: #35465c
}

.owp-social-share.style-minimal li.tumblr a:hover .owpss-icon {
  fill: #35465c
}

.owp-social-share.style-minimal li.viadeo a:hover {
  color       : #ff7452;
  border-color: #ff7452
}

.owp-social-share.style-minimal li.viadeo a:hover .owpss-icon {
  fill: #ff7452
}

.owp-social-share.style-colored li a {
  color: #fff
}

.owp-social-share.style-colored li a:hover {
  -moz-opacity   : .8;
  -webkit-opacity: .8;
  opacity        : .8
}

.owp-social-share.style-colored li a .owpss-icon {
  fill: #fff
}

.owp-social-share.style-colored li.twitter a {
  background-color: #00aced
}

.owp-social-share.style-colored li.facebook a {
  background-color: #3b5998
}

.owp-social-share.style-colored li.googleplus a {
  background-color: #dd4b39
}

.owp-social-share.style-colored li.linkedin a {
  background-color: #3399CC
}

.owp-social-share.style-colored li.pinterest a {
  background-color: #cb2027
}

.owp-social-share.style-colored li.viber a {
  background-color: #9d62cc
}

.owp-social-share.style-colored li.vk a {
  background-color: #3673be
}

.owp-social-share.style-colored li.reddit a {
  background-color: #ff5c1f
}

.owp-social-share.style-colored li.tumblr a {
  background-color: #35465c
}

.owp-social-share.style-colored li.viadeo a {
  background-color: #ff7452
}

.owp-social-share.style-dark li a {
  background-color: #222;
  color           : #fff
}

.owp-social-share.style-dark li a:hover {
  -moz-opacity   : .8;
  -webkit-opacity: .8;
  opacity        : .8
}

.owp-social-share.style-dark li a .owpss-icon {
  fill: #fff
}

.owp-social-share.style-dark.name-shown .owp-icon-wrap {
  background-color: rgba(255, 255, 255, 0.08)
}

.owp-social-share.name-shown li a {
  min-width: 144px;
  width    : 100%
}

.owp-social-share.name-shown ul {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-flex-wrap      : wrap;
  -ms-flex-wrap          : wrap;
  flex-wrap              : wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack          : space-between;
  justify-content        : space-between
}

.owp-social-share.name-shown ul li {
  margin          : 6px;
  -webkit-box-flex: 1;
  -moz-box-flex   : 1;
  -webkit-flex    : 1;
  -ms-flex        : 1;
  flex            : 1
}

.owp-social-share.name-shown ul li a {
  min-width: 144px;
  width    : 100%
}

.owp-social-share.name-shown .owp-icon-wrap {
  display                : block;
  position               : absolute;
  top                    : 0;
  bottom                 : 0;
  left                   : 0;
  display                : -webkit-inline-flex;
  display                : -ms-inline-flex;
  display                : inline-flex;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  background-color       : rgba(0, 0, 0, 0.08);
  padding                : 0 12px;
  -webkit-transition     : all 0.3s ease;
  -moz-transition        : all 0.3s ease;
  -ms-transition         : all 0.3s ease;
  -o-transition          : all 0.3s ease;
  transition             : all 0.3s ease
}

.owp-social-share.name-shown .owp-social-name {
  display    : block;
  width      : 100%;
  padding    : 0 10px 0 50px;
  font-size  : 15px;
  font-weight: 500;
  text-align : center
}

.owp-social-share.name-shown.style-minimal li a:hover .owpss-icon {
  fill: #fff !important
}

.owp-social-share.name-shown.style-minimal li.twitter a:hover .owp-icon-wrap {
  background-color: #00aced
}

.owp-social-share.name-shown.style-minimal li.facebook a:hover .owp-icon-wrap {
  background-color: #3b5998
}

.owp-social-share.name-shown.style-minimal li.googleplus a:hover .owp-icon-wrap {
  background-color: #dd4b39
}

.owp-social-share.name-shown.style-minimal li.linkedin a:hover .owp-icon-wrap {
  background-color: #3399CC
}

.owp-social-share.name-shown.style-minimal li.pinterest a:hover .owp-icon-wrap {
  background-color: #cb2027
}

.owp-social-share.name-shown.style-minimal li.viber a:hover .owp-icon-wrap {
  background-color: #9d62cc
}

.owp-social-share.name-shown.style-minimal li.vk a:hover .owp-icon-wrap {
  background-color: #3673be
}

.owp-social-share.name-shown.style-minimal li.reddit a:hover .owp-icon-wrap {
  background-color: #ff5c1f
}

.owp-social-share.name-shown.style-minimal li.tumblr a:hover .owp-icon-wrap {
  background-color: #35465c
}

.owp-social-share.name-shown.style-minimal li.viadeo a:hover .owp-icon-wrap {
  background-color: #ff7452
}

.tagcloud a {
  display         : inline-block;
  background-color: #f8f8f8;
  color           : #333;
  border          : 1px solid #e9e9e9;
  font-size       : 12px !important;
  line-height     : 1;
  padding         : 8px 12px;
  margin          : 0 2px 5px 0;
  letter-spacing  : 0.4px;
  text-transform  : uppercase
}

.tagcloud a:hover {
  background-color: #f1f1f1;
  color           : #333;
  border-color    : #ddd
}

#sidebar .video-widget .responsive-video-wrap iframe {
  min-height: 100%
}
